.order {
  height: 100vh;
  padding: 25px;
  background-color: #1f1d2b;
  width: 406px;
  position: fixed;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.order header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  height: 132px;
}

.order-header-info {
  display: flex;
  justify-content: space-between;
}
.order-header-info p:first-child {
  flex-grow: 2;
}
.order-header-info p:last-child {
  width: 75px;
  text-align: right;
}

.order-header-selectors {
  display: flex;
}
.order-header-selectors p {
  color: #ea7c69;
  background-color: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 5px;
  padding: 8px;
  margin-right: 10px;
  cursor: pointer;
  transition: border 0.2s ease;
}
.order-header-selectors p:hover {
  border-color: #ea7c69;
}

.active-button {
  border: none !important;
  background-color: #ea7c69 !important;
  color: white !important;
}

.order-content-item {
  margin: 25px 0;
}

.order-item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.order-item-description div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 2;
}
.order-item-description img {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}
.order-item-description h4:last-child {
  width: 65px;
  text-align: right;
}

.order-content {
  border-top: 1px solid #393c49;
  border-bottom: 1px solid #393c49;
  overflow: hidden;
  height: 400px;
}

.order-item-quantity {
  background-color: #2d303e;
  width: 40px;
  height: 40px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
}

.order-item-note {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.order-item-note input {
  flex-grow: 2;
  border-radius: 5px;
  background-color: #2d303e;
  border: none;
  padding-left: 25px;
  color: white;
}
.order-item-note input:focus {
  outline: none;
}
.order-item-note div {
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #ff7ca3;
  border-radius: 5px;
  cursor: pointer;
  transition: border-width 0.2s ease;
  margin-left: 17px;
}
.order-item-note div:hover {
  border-width: 3px;
}

.order-disacount {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}
.order-disacount p:first-child {
  font-weight: lighter;
  color: #abbbc2;
  font-size: 0.85em;
  margin-bottom: 10px;
}

.order-subtotal {
  display: flex;
  justify-content: space-between;
  color: white;
  font-weight: bold;
}
.order-subtotal p:first-child {
  font-weight: lighter;
  color: #abbbc2;
  font-size: 0.85em;
  margin: 10px 0;
}

.order-payment {
  height: 48px;
  background-color: #ea7c69;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: box-shadow 0.2s ease;
}
.order-payment:hover {
  box-shadow: 0px 0px 20px 10px rgba(234, 124, 105, 0.1843137255);
}

.main-section {
  width: 1230px;
  padding: 25px 25px 0px 25px;
  grid-column: 2/3;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  color: white;
  margin-bottom: 35px;
}
.main-title input {
  width: 220px;
  height: 48px;
  border-radius: 5px;
  border: 1px solid #393c49;
  background-color: #2d303e;
  color: #abbbc2;
  padding-left: 35px;
}
.main-title input:focus {
  outline: none;
}
.main-title img {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 10px;
}

.main-title-searchbar {
  position: relative;
}

.menu-tabs {
  display: flex;
  align-items: center;
  color: white;
  border-bottom: 1px solid #393c49;
  padding-bottom: 15px;
  margin-bottom: 25px;
}
.menu-tabs p {
  cursor: pointer;
  transition: color 0.2s ease;
}
.menu-tabs p:hover {
  color: #ea7c69;
}
.menu-tabs > p {
  padding-right: 50px;
}

.btn {
  position: relative;
  margin-right: 32px;
  padding: 0%;
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 14px;
  color: white;
}
.btn::after {
  position: absolute;
  display: block;
  width: 0%;
  height: 3px;
  background-color: #ea7c69;
  content: "";
  margin-top: 12px;
  z-index: 1;
}

.btn--active {
  position: relative;
  color: #ea7c69;
}
.btn--active::after {
  content: "";
  position: absolute;
  -webkit-animation: line 0.5s;
          animation: line 0.5s;
  width: 60%;
  color: #ea7c69;
}

.main-content-title {
  display: flex;
  justify-content: space-between;
  color: white;
}

.main-content-dropdown {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100px;
  height: 48px;
  background-color: #1f1d2b;
  border: 1px solid #393c49;
  border-radius: 5px;
  font-family: "Barlow";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 130%;
  color: #FFFFFF;
  padding-left: 5px;
}

.main-content-grid {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
  grid-gap: 50px;
}

.grid-item {
  width: 192px;
  height: 226px;
  background-color: #1f1d2b;
  border-radius: 15px;
  color: white;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0 40px;
  padding-top: 120px;
  padding-bottom: 30px;
  font-size: 0.7em;
  cursor: pointer;
  border-color: rgba(57, 60, 73, 0);
  transition: border 0.2s ease-in;
}
.grid-item:hover {
  border: 3px solid #393c49;
}
.grid-item img {
  width: 132px;
  height: 132px;
  position: absolute;
  bottom: 125px;
}
.grid-item h4 {
  color: #abbbc2;
  font-weight: lighter;
}

.btn-btn {
  background: none;
  border: none;
  color: #FFFFFF;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 140%;
}
.btn-btn:hover {
  color: #ea7c69;
}
.btn-btn:active {
  border-bottom: #ea7c69 solid 3px;
  border-right: #ea7c69 solid 3px;
  padding-right: 2px;
}
@-webkit-keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}
@keyframes line {
  0% {
    width: 0;
  }
  100% {
    width: 60%;
  }
}

.main-title-text {
  margin: 0;
  padding: 0;
}

.Date {
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #E0E6E9;
  margin-bottom: 4px;
}

.clock {
  font-family: sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  color: #E0E6E9;
  margin-left: 25px;
  margin-top: 4px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #252836;
  font-family: "Barlow", sans-serif;
}

main {
  display: grid;
  grid-template-columns: 104px 1fr 406px;
}

@media only screen and (max-width: 1485px) {
  .main-content-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 1246px) {
  .main-content-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .menu-tabs {
    font-size: 0.85em;
  }
  .menu-tabsp {
    padding-right: 35px;
  }
}
@media only screen and (max-width: 1084px) {
  main {
    grid-template-columns: 104px 1fr 306px;
  }
  .order {
    width: 306px;
  }
}
@media only screen and (max-width: 908px) {
  .main-content-grid {
    grid-template-columns: repeat(1, 1fr);
  }
  .main-title {
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
  }
  .menu-tabs {
    font-size: 0.65;
  }
  .menu-tabs > p {
    padding-right: 5%;
  }
}
.grid-image {
  border-radius: 50%;
}/*# sourceMappingURL=style.css.map */